#post{
  width: 700px;
  height: 150px;
  background: #ffffff;
  margin: 10px 25%;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}